body {
	background-color: #5A4B3C;
	text-align: center;
}

h1 {
	color: white;
}

#container{
	width: 900px;
	margin: auto;
}

#flashcard{
	width: 700px;
	min-height: 400px;
	background-color: white;
	border: 5px solid white;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 10px;
	position: relative;
}

#flashcardDetail{
	position: relative;
	font-size: 20pt;
}

#leftFooter{
	padding: 5px;
	font-size: 15pt;
	font-style: italic;
	float: left;
	position: absolute;
	bottom: 0px;
}